<%= simple_form_for(resource) do |form| %>
  <div class="row">
    <div class="col-2">
      <%= form.input :id, disabled: true %>
    </div>

    <div class="col-8">
      <%= form.input :description, autofocus: true %>
    </div>

    <div class="col-2">
      <%= form.input :status, collection: enum_to_select(PaymentMethod.statuses), include_blank: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= form.input :payment_type, collection: enum_to_select(PaymentMethod.payment_types), include_blank: false %>
    </div>
  </div>

  <%= render("components/actions", form: form) %>
<% end %>
