<%= simple_form_for(resource) do |form| %>
  <div class="row">
    <div class="col-2">
      <%= render("components/search-field", form: form, field: :id) %>
    </div>

    <div class="col-8">
      <%= form.input :description, autofocus: true %>
    </div>

    <div class="col-2">
      <%= form.input :status, collection: enum_to_select(SaleMethod.statuses), include_blank: false %>
    </div>

    <%= form.input :position, as: :hidden %>
  </div>

  <%= render("components/actions", form: form) %>
<% end %>
