<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th><%= sort_link(q, :id) %></th>
      <th><%= sort_link(q, :description) %></th>
      <th><%= sort_link(q, :order) %></th>
      <th><%= sort_link(q, :status) %></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr>
        <th><%= resource.id %></th>
        <td><%= highlight(resource.description, params.dig(:q, :description_cont)) %></td>
        <td><%= resource.order %></td>
        <td><%= t_enum(resource.status) %></td>
        <td><%= link_to t("helpers.submit.edit"), edit_sale_method_path(resource), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>