<% content_for :title, "Sale methods" %>

<div class="row">
  <h1>Sale methods</h1>
</div>

<div class="row">
  <div class="col-2">
    <%= link_to "New sale method", new_sale_method_path, class: "btn btn-success" %>
  </div>
</div>

<div class="row mt-3">
  <%= search_form_for @q do |form| %>
    <div class="row">
      <div class="col-9">
        <%= form.search_field :description_cont, placeholder: true, class: "form-control" %>
      </div>

      <div class="col-2">
        <%= form.select :status_eq, SaleMethod.statuses, { include_blank: true }, { class: "form-select" } %>
      </div>

      <div class="col-1">
        <%= form.submit class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row mt-3">
  <table id="sale_methods" class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :id) %></th>
        <th scope="col"><%= sort_link(@q, :description) %></th>
        <th scope="col"><%= sort_link(@q, :order) %></th>
        <th scope="col"><%= sort_link(@q, :status) %></th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sale_methods.each do |sale_method| %>
        <tr>
          <th scope="row"><%= sale_method.id %></th>
          <td><%= highlight(sale_method.description, params.dig(:q, :description_cont)) %></td>
          <td><%= sale_method.order %></td>
          <td><%= sale_method.status %></td>
          <td>
            <%= link_to "Edit", edit_sale_method_path(sale_method), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>