<% content_for(:title, record_title) %>

<div class="d-flex justify-content-between align-items-center">
  <h1 class="text-uppercase fs-5 fw-bold m-0"><%= record_title %></h1>

  <%= link_to(new_record_path, class: "btn btn-success") do %>
    <i class="bi bi-plus-lg"></i>
  <% end %>
</div>

<hr>

<%= render("search", records: @records, q: @q) %>

<%= render("table", records: @records, q: @q) %>

<%== pagy_bootstrap_nav(@pagy) %>
