<% content_for(:title, resource_title) %>

<div class="d-flex justify-content-between align-items-center">
  <h1 class="text-uppercase fs-5 fw-bold m-0"><%= resource_title %></h1>

  <%= t_link_to("helpers.submit.new", new_resource_path, class: "btn btn-success") %>
</div>

<hr>

<%= render("search", resources: @resources, q: @q) %>

<%= render("table", resources: @resources, q: @q) %>

<%== pagy_bootstrap_nav(@pagy) %>
